@import "tailwindcss";

:root{
  --blanco: #FFFFFF;
  --fondo: #1B687C;
  --btn-accion: #08242A;
  --btn-inactivo:#D9D9D9;
}

/* 🎨 CONTENEDORES PRINCIPALES */ 
.login-page-container {
  @apply min-h-screen flex items-center justify-center p-4 bg-(--fondo);
}

.login-card {
  @apply max-w-md w-full rounded-2xl p-8;
}

/* 🛡️ SECCIÓN DE ENCABEZADO */
.login-header {
  @apply text-center mb-8;
}

.login-icon-box {
  @apply inline-flex items-center justify-center mb-3 ;
}

/* 🚨 ALERTAS DE ERROR */
.login-error-alert {
  @apply mb-6 p-4 bg-red-500/10 border border-red-500/20 text-red-400 text-sm rounded-xl flex items-center gap-3;
}

/* 📝 FORMULARIOS E INPUTS */
.login-form {
  @apply space-y-5;
}

.form-label-box {
  @apply flex flex-row-reverse mt-3;
}
.olvidaste-Contrasena{
  @apply text-xs font-medium transition-colors text-white;
}

.form-input {
  @apply w-full bg-white rounded-full px-4 py-3 focus:outline-none transition-colors text-sm;
}

/* Si un input tiene error, puedes usar CSS tradicional o una clase combinada */
.form-input-error {
  border-color: #ef4444 !important; /* CSS Tradicional puro y libre */
}

.form-error-text {
  @apply text-red-400 text-xs mt-1.5 font-medium;
}

/* ⚡ BOTONES */
.btn-submit-secure {
  @apply w-full bg-(--btn-accion) text-white font-semibold py-3 px-4 rounded-full transition-colors focus:outline-none text-sm mt-2 flex items-center justify-center gap-2;
}
.btn-submit-secure:disabled {
  @apply bg-(--btn-inactivo) cursor-not-allowed;
}

.spinner {
  @apply w-5 h-5 border-2 border-white/30 border-t-white rounded-full animate-spin;
}